@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
  background: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
}

a {
  text-decoration: none !important;
  font-family: 'Cardo', serif !important;
}

input {
  font-family: 'Cardo', serif !important;
}

label {
  font-family: 'Cardo', serif !important;
}

.MuiTypography-colorPrimary {
  color: #000 !important;
}
a.MuiTypography-body2 {
  font-size: 1rem;
}