@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
}

/* .button-customer {
  margin-bottom: 10px;
  margin-left: 900px;
}

.button-supplier {
  margin-top: 100px;
  margin-right: 900px;
} */
